.clearFloat:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearFloat {
    *zoom:1;
}
a{
    text-decoration:none;
}


li{
    list-style:none;
}


.center{
    width: 1200px;
    margin:0 auto;
}
.top_ad{
    height: 65px;
    box-shadow:0 1px 0 1px #DCDDDD;
}
.breadcurmb{
    height: 32px;
    padding-top:8px;
    margin-bottom:8px;
}
.breadcurmb .breadcurmb_first{
    color:#646464;
    font-weight:bold;
    
}
.breadcurmb a{
    color:#646464; 
    font-size:14px;
}
.breadcurmb span{
    font-size:14px;
}
.breadcurmb .gt{
    border:1px 6px 0;
}
/* 详情左开始 */
.detail .detail_left{
    width: 320px;
    height: 410px;
    float:left;
}
 .detail_left .detail_left_big{
    width: 320px;
    height: 320px;
  
}
.detail_left_big img{
width: 320px;
}
 .detail_left .detail_little{
    width: 295px;
    margin:0 auto;
 
    margin-top:5px;
}
.detail_left .detail_little img~img{
    margin-left:2px;
}
.detail_left .detail_little img{
    width: 54px;
    height: 54px;
}

.share{
    margin-top:5px;
}
.share .shareOne{
    margin-left:10px;
    color:#969696;
}
.share .shareTwo{
    margin-left:15px;
    color:#969696;
}
.share .shareThree{
    margin-left:15px;
    color:#969696;
}
/* 详情左结束 */
/* 详情中 */
.detail .detail_center{
    float:left;
    width: 624px;
    font-size:9px;
    
}
.detail .detail_center h1{
    margin-top:4px;
    font-size:18px;
    font-weight:bold;
    display:inline-block;
    width: 624px;
    height: 43px;
    overflow:hidden;
}
.detail .detail_center h2{
    font-size:16px;
    font-weight:lighter;
    margin-top:6px;
    line-height:25px;
    width: 624px;
    height: 75px;
    overflow:hidden;
}
.detail .detail_center h2 a{
    color:#1A66B3;
}
.detail .bookdetail{
    font-size:13px;
    color:#646464;
    border-top:1px solid #F5F5F5;
    padding-top:3px;
}
.detail .bookdetail a{
    color:#1A66B3; 
}
.detail_center .bookdetail span{
    margin-right:25px;   
}
.detail_center .bookdetail .bookdetail2{
    margin-top:5px;
}
.price{
    height: 143px;
    background-color: #FCFAF7;
    margin-top:8px;
    position:relative;
}
.price .price_drop{
    width: 206px;
    height: 64px;
    float:left;
}
.price .price_drop .price_drop1{
margin-top:9px;
width: 100px;
float:left;
}
.price .price_drop .price_drop1 a{
    margin-left:10px;
    color:#1A66B3;
}
.price .price_drop .price_drop1_2 span{
color:red;
font-size:15px;
}
.price .price_drop .price_drop1_2 {
    color:red;
    font-size:25px;
}
.price .price_drop .price_drop2{
    color:red;
    float:left;
    margin-top:35px;
    margin-left:15px;
    font-size:13px;
}
.price_Ebook {
    float:left;
    width: 84px;
    margin-top:9px;
}
.price_Ebook span{
    font-size:13px;
}
.price .price_Ebook .price_Ebook1 span{
    color:#1A66B3;
    font-size:15px;
}
.price .price_Ebook .price_Ebook1 a{
    color:#1A66B3;
    font-size:25px;
}
.price_cost{
    position: absolute;
    top:75px;
    left:0;
    font-size:13px;
}
.price .image{
    width: 270px;
    height: 143px;
    position: absolute;
    right:0;

}
/* 选择商品 */
.select{
    height: 193px;
    border-bottom:1px solid #D7D7D7;
    margin:5px 0 5px;
    position: relative;

}
/* 1 */
.select .sales1 .sales1_1 {
    color:#969696;
    font-size:13px;
}
.select .sales1 .sales1_2{
    display:inline-block;
    background-color: #FF6666;
    color:white;
    border-radius: 3px;
    margin-left:15px;
}
.select .sales1 .sales1_3{
    display:inline-block;
    border:1px solid #D7D7D7;
    padding:3px 0 3px;
    margin-left:10px;
    font-size:13px;
}
.select .sales1 .sales1_3 input{
    width: 15px;
    height: 15px;
    border-radius: 1px;
}
.select .sales1{
    margin-bottom:5px;
}
.select .sales2{
    margin-bottom:8px;
}
.select .sales3{
    margin-bottom:10px;
}

/* 2 */
.select .sales2 .sales2_1{
    display:inline-block;
    background-color: #FF6666;
    color:white;
    border-radius: 3px;
    margin-left:43px;
}
.select .sales2 .sales2_2{
    margin-left:10px;
    font-size:13px;
}
.select .sales2 .sales2_3{
    color:#969696;
    margin-left:20px;
}
/* 3 */
.select .sales3 .sales3_1{
    display:inline-block;
    background-color: #FF6666;
    color:white;
    border-radius: 3px;
    margin-left:43px;
}
.select .sales3 .sales3_2{
    margin-left:10px;
    font-size:13px;
}
.select .sales3 .sales3_3{
    color:#969696;
    margin-left:20px;
}
/* 4 */
.recommend{
    width: 582px;
    height: 77px;
    float:right;
}
.recommend .recommend1{
    width: 270px;
    height: 77px;
    float:left;
    border:1px solid #D7D7D7;
   
}
.recommend .recommend2{
    width: 270px;
    height: 77px;
    float:right;
    border:1px solid #D7D7D7;
}
.recommend .recommend1 img,.recommend .recommend2 img{
    margin-top:8px;
}
.recommend .recommend1 span,.recommend .recommend2 span{
    padding-top:5px;
}
.select p{
    margin:0;
    padding:0;
    position: absolute;
    bottom:5px;
    left:43px;
    font-size:14px;
}
/* 地址和购物车 */
.shopcar{
    width: 567px;
    position: absolute;
    right:0;
}
.shopcar a{
    display:inline-block;
    font:16px "Microsoft Yahei";
    color:white;
    height: 36px;
    border-radius:3px;
    margin:0 4px 0;
}
.shopcar .shopcar_link1{
    background-color: #FF2832;
    padding:0 15px 0;
    line-height:36px;
}
.shopcar .shopcar_link2,.shopcar .shopcar_link3{
    padding:0 15px 0;
    line-height:36px;
}
.shopcar .shopcar_link2{
    background-color: #FFEDEE;
    border:1px solid red;
    color:red;
}
.shopcar .shopcar_link3{
    background-color: #1B82DA;
}
.shopcar_father{
    position: relative;
     height: 37px;
     margin-top:38px;
}
.shopcar .shopcar_link1:hover{
    color:white;
    text-decoration:none;
    background-color: red;
}
.shopcar .shopcar_link2:hover{
    color:red;
    text-decoration:none;
    background-color: rgb(247, 215, 217);
}
.shopcar .shopcar_link3:hover{
    color:white;
    text-decoration:none;
    background-color:rgb(14, 105, 185);
}
/* 详情中 */

/* 详情右 */
.detail_right{
    float:right;
    width: 180px;
    background-color: rgb(14, 105, 185);
}
/* 详情右结束 */


/* 推荐recommend开始了 */
.alsoView{
    width: 210px;
    float:left;
   border:1px solid #CCCCCC;
   margin-top:80px;
}
.alsoView h3{
    font-size:14px;
    text-align:center;
    margin:10px 0 10px;
}
.alsoView ul li{
    width: 194px;
    margin:0 auto;
    border-bottom:1px solid #CCCCCC;
    padding:10px;
    
}
.alsoView ul li img{
   margin-left:10px;
   width: 150px;
   height: 150px;
}
.alsoView ul li .prices{
    color:red;
    margin-top:3px;
    font-size:14px;
    margin-bottom:5px;
}
.alsoView ul li .name{
font-size:14px;
line-height:16px;
margin-bottom:5px;
height: 33px;
overflow:hidden;
}
.alsoView ul li .author{
    color:#969696;
}
/* 推荐recommend结束了 */


/* group_buy开始了 */
.group_buy{
    width: 970px;
    float:right;
    margin-top:80px;
    margin-bottom:30px;
}
.group_buy .group_tab .group_tab_left,.group_buy .group_tab .group_tab_right{
    height: 25px;
}
.group_buy .group_tab .group_tab_left{
    width: 182px;
    font-size:14px;
    text-align:center;
    float:left;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
}
.group_buy .group_tab .group_tab_right{
    float:left;
    width: 788px;
    border-bottom:1px solid black;
}
.six_book ul li{
    width: 164px;
    float:left;
    margin-right:28px;
}
.six_book ul li:nth-child(5){
float:right;
}
.six_book ul li img{
    width: 150px;
    height: 150px;
}
.six_book ul li .six_price{
    color:red;
    margin-top:15px;
    font-size:14px;
    margin-bottom:5px; 
}
.six_book ul li .six_name{
    font-size:13px;
    color:#646464;
    height: 20px;
    overflow:hidden;
}
.six_bool ul li .six_author{
    font-size:13px;
    color:#969696;
}
/* group_buy结束了 */

/* print开始了 */
.print{
    width: 880px;
    float:left;
    margin-left:20px;
    border-right:2px solid #E1E1E1;
}
.little_logo{
    width: 860px;
}
.little_logo span{
    float:right;
    height: 2px;
    width: 764px;
    background-color: #E5E5E5;
    margin-top:22px;
}

.bigphoto{
    width: 860px;
    padding-top:1px;
}
.bigphoto1{
    width: 790px;
    margin:14px 20px 0 20px;
    background-color: red;
} 
/* print结束了 */

/* 评论开始了 */
.discuss{
    width: 970px;
    height: 166px;
    background-color:#FAFAFA;
    float:right;
    margin-top:20px;
}
.discuss .discussTwo{
    width: 930px;
    margin:0 auto;
}
.discuss .discuss_title{
    font-size:14px;
    font-weight:bold;
    margin-top:10px;
}
 .discussTwo ul li>span{
   font-weight:bold;
}
.discussTwo ul{
    margin-left:10px;
}
.discussTwo ul li{
    margin-top:8px;
}

.h3Tit{
    width: 970px;
    height: 35px;
    float:right;
    background-color: #F0F0F0;
    margin-top:20px;
}
.h3Tit span{
    line-height:35px;
    font-size:15px;
    color:#787878;
    margin-left:20px;
}
.h3Tit div{
    float:right;
    background-color: red;
    margin-top:3px;
    height: 26px;
}

.discussAll{
    width: 970px;
    float:right;
}
.discussAll_title{
    height: 35px;
    background-color: #F0F0F0;
}
.discussAll_title span{
    margin:0 15px 0 20px;
    font-size:12px;
    line-height:35px;
}
.discussAll_title span:hover{
    color:red;
}
.discussAll_title span:first-child{
    color:red;
}
.discussAll .firstDiscuss{
    width: 950px;
    height: 257px;
    margin:0 auto;
}
.discussAll .firstDiscuss .firstDiscuss_one{
    width: 805px;
    height: 257px;
    float:left;
}
.discussAll .firstDiscuss .firstDiscuss_two{
    width: 145px;
    height: 257px;
    float:right;
}
.firstDiscuss_one .one_star{
    margin-top:15px;
}
.firstDiscuss_one a{
    display:inline-block;
    height: 37px;
    overflow:hidden;
    color:#646464;
    line-height:20px;
    margin-top:10px;
}
.firstDiscuss_one a:hover{
    color:#646464;
}
.firstDiscuss_one .two_img{
margin-top:10px;
}
.firstDiscuss_one .three_time span{
    margin-right:10px;
}
.firstDiscuss_one .three_time{
    margin-top:10px;
}
.firstDiscuss_two img{
    width: 90px;
    height: 105px;
    margin:20px 0 0 20px;
}
.firstDiscuss{
    border-bottom:1px solid #E6E6E6;
}
/* 评论结束了 */



