
.show-product {
    border: solid 1px #dcdcdc;
    box-sizing: border-box;
    padding: 10px 0 0 15px;
    margin-bottom: 20px;
}

.show-product .title {
    font-size: 16px;
    color: #323232;
    height: 36px;
    line-height: 36px;
    padding-left: 25px;
    font-weight: bolder;
    position: relative;
}

.show-product .title .tab-button {
    position: absolute;
    right: 30px;
    top: 23px;
    display: flex;
    align-items: center;
}

.show-product .title .tab-button li {
    height: 8px;
    width: 8px;
    margin-left: 23px;
    border-radius: 50%;
    background-color: #c2c2c2;
}

.block-product {
    padding: 5px 4px 0 14px;
    box-sizing: border-box;
}

.block-product .product-group {
    display: flex;
    flex-wrap: wrap;
    margin-right: -50px;
}

.block-product .product-group li {
    width: 170px;
    height: 256px;
    padding: 0 10px 12px 10px;
    margin-right: 20px;
    box-sizing: border-box;
    position: relative;
}

.block-product .product-group li .cover {
    position: absolute;
    line-height: 24px;
    width: 100%;
    background: #ff5e5e;
    opacity: 0.85;
    color: #ffff;
    text-decoration: none;
    top: 135px;
    left: 0;
    text-align: center;
    display: none;
    transition: .3s;
}


.block-product .product-group {
    float: left;
}


.block-product .product-group li:hover .cover {
    display: block;
}

.block-product .product-group li:hover {
    background-color: #f9f9f9;
}

.block-product .product-group img {
    width: 150px;
    height: 150px;
    background: #ffff;
    margin: 10px 0;
}

.block-product .product-group p.text {
    line-height: 14px;
    height: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.block-product .product-group p.text a {
    color: #323232;
    text-decoration: none;
}

.block-product .product-group p.text a:hover {
    text-decoration: underline;
    color: #ff2832;
}

.block-product .product-group span.price {
    color: #ff2832;
    font-size: 16px;
}

.block-product .product-group .info {
    display: block;
    line-height: 18px;
    background-image: url("../img/sprite/ads_sprites.png");
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 20px;
    height: 18px;
}

.block-product .product-group .info:hover {
    background-position: 0 -16px;
}

.block-product .product-group .comment_num {
    color: #1A66B3;
}

.service-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 3px solid #ff2832;
}

.service-section .process-area {
    width: 634px;
    height: 36px;
    line-height: 36px;
    background-image: url("../img/sprite/procedure_bg.png");

}

.service-section .process-area .service-process {
    height: 36px;
    line-height: 36px;
    width: 206px;
    font-size: 14px;
    text-align: center;
    color: #646464;
    font-weight: bold;
    display: inline-block;
}

.shop-car-content-area.none{
    height: 280px;
    background-image: url("../img/sprite/empty.png");
    background-repeat: no-repeat;
    background-position: 96px 46px;
    box-sizing: border-box;
    padding: 90px 0 0 496px;
}

.shop-car-content-area{
    opacity: 1;
    transition: opacity .5s;
}

.shop-car-content-area.active{
    opacity: 0;
}

.shop-car-content-area .tab-button {
    height: 38px;
    display: inline-block;
    padding: 0 20px;
    background-color: #ff2832;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    margin: 30px 20px 0 0;
    border-radius: 2px;
}


/*check  check 选择 */
.check {
    width: 14px;
    height: 14px;
    font-weight: bolder;
    display: inline-block;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    vertical-align: middle;
}

.check:hover {
    border: 1px solid #dc3545;

}

.check.on {
    background: #ff2832 url(../img/sprite/icon_sprite.png) no-repeat -65px -1px
}


.ding-dang-area {
    width: 960px;
    margin: 0 auto;
    background: #fafafa;
}

.ding-dang-area .shopping-ui {
    height: 54px;
    line-height: 54px;
    font-weight: bolder;
    font-size: 13px;
}

.ding-dang-area .shopping-ui p {
    margin-left: 68px;
}

.ding-dang-area .shopping-ui span {
    margin-right: 144px;
    color: #FF2832;
}

.ding-dang-area .shopping-ui .submit {
    font: bold 18px/38px "Microsoft Yahei";
    border-radius: 2px;
    width: 116px;
    height: 38px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 4px;
    float: right;
    display: block;
    font-size-adjust: none;
    font-stretch: normal;
    background-color: rgb(255, 40, 50);
    cursor: pointer;
}

.ding-dang-area .shop-car-header-info .shop-section-list {
    line-height: 36px;
    height: 36px;
    margin-top: 10px;
    background: #ffffff;
}

.shop-car-header-info .shop-section-list li {
    float: left;
}

.shop-car-header-info .shop-section-list .f1 {
    width: 183px;
}

.shop-car-header-info .shop-section-list .f2 {
    width: 260px;
}

.shop-car-header-info .shop-section-list .f3 {
    width: 118px;
}

.shop-car-header-info .shop-section-list .f4 {
    width: 92px;
}

.shop-car-header-info .shop-section-list .f5 {
    width: 240px;
}


.shop-car-content-area .card {
    background: #fafafa;
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: space-around;
    padding: 15px 0;
}

.shop-car-content-area .card img {
    width: 80px;
    height: 80px;
}

.shop-car-content-area .info {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #323232;
    text-align: left;
    width:228px;
    line-height: 16px;
}

.shop-car-content-area .info .intro:hover {
    text-decoration: #FF2832 underline;
    color: #FF2832;
}

.shop-car-content-area .card .input-area span {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    display: inline-block;
}

.shop-car-content-area .card .input-area input {
    width: 38px;
    height: 28px;
    box-sizing: border-box;
    font-weight: bolder;
    outline: 0;
    text-align: center;
    border: none;
}

.shop-car-content-area .card .input-area button {
    width: 28px;
    height: 28px;
    background: #f4f4f4;
    outline: none;
    border-right: solid 1px #dcdcdc;
    border-left: solid 1px #dcdcdc;
    border-top: none;
    border-bottom: none;
}

.shop-car-content-area .card .input-area button:hover {
    background: lightgray;
}

.shop-car-content-area .option {
    display: flex;
    height: 120px;
    align-items: flex-start;
    line-height: 22px;
}

.shop-car-content-area .option a:hover {
    text-decoration: #FF2832 underline;
    color: #FF2832;
}

.shop-car-content-area .new-price {
    align-self: flex-start;
    color: #FF2832;
    display: inline-block;
    width:200px;
}

.shop-car-content-area .old-price {
    align-self: flex-start;
    color: #969696;

}

.shop-car-content-area .card .info span {
    padding: 0 16px 0 6px;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    color: #fff;
    border-radius: 2px;
    background: url(./img/sprite/icon_sprite.png) right -177px no-repeat #f66;
    background-color: #54d1ff;
    cursor: pointer;
}

.shop-car-content-area .card .info span:hover {
    background-color: pink;
}

.shop-car-content-area .info-real-info {
    padding-left: 385px;
}

.shop-car-content-area .info-real-info .real-book-content {
    display: none;
}

.shop-car-content-area .info-real-info .real-book-content li {
    float: left;
    width: 200px;
    height: 80px;
}

.info-real-info .real-book-content li img {
    width: 70px;
    height: 70px;
}

.info-real-info .real-book-content li div {
    width: 100px;
}

.info-real-info .real-book-content li span {
    margin-right: 350px;
}

.info-real-info .real-book-content li .price {
    display: block;
    margin-top: 10px;
    color: #FF2832;
}